{% load macros %}
{% load i18n %}

{% comment %}
    Define a macro for each menu item, since the markup is a bit messy
    and we don't want to copy-paste it every time
{% endcomment %}

{% macro menu_item title href description icon cap %}
    <li>
        <a data-tooltip data-options="disable_for_touch:true"
        title="{{ description }}"
        href="{{ href }}"
        target="_blank"
        class="has-tip tip-top">
                {% if cap == True or cap == "True" %}
                    <div class="quick-button-chalmers"><i class="fa fa-graduation-cap"></i></div>
                {% endif %}
                <i class="fa {{ icon }}"></i>
                {{ title }}
        </a>
    </li>
{% endmacro %}

{% comment %}
    Here we use the macro to instantiate all the menu items.
{% endcomment %}

<div class="quick-buttons large-8 columns">
    <ul class="box list text-center">

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Företag" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://datateknologer.se
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Arbetsmarknadsgrupp" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-building
            {% endmacro_arg %}
            {% macro_arg %}False{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Wikin" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://wiki.dtek.se
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "DTEK-wikin, där allt kul händer!" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-globe
            {% endmacro_arg %}
            {% macro_arg %}False{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Styrdokument" %}
            {% endmacro_arg %}
            {% macro_arg %} {% url 'homepage:documents' %} {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Styrdokument" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-book
            {% endmacro_arg %}
            {% macro_arg %}False{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Databussen" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://dbus.dtek.se
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Mer info om Databussen" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-car
            {% endmacro_arg %}
            {% macro_arg %}False{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Schema" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://cloud.timeedit.net/chalmers/web/public/
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "TimeEdit" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-table
            {% endmacro_arg %}
            {% macro_arg %}True{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Grupprum" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://cloud.timeedit.net/chalmers/web/b1/
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Boka grupprum på Chalmers" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-users
            {% endmacro_arg %}
            {% macro_arg %}True{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Kårkort" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://kortladdning3.chalmerskonferens.se
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Genväg för att ladda ditt kårkort" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-credit-card
            {% endmacro_arg %}
            {% macro_arg %}True{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Karta" %}
            {% endmacro_arg %}
            {% macro_arg %}
                https://maps.chalmers.se/#6967eb7c-ff54-4dd7-af00-9e19fcaba128
            {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Karta över Campus" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-map
            {% endmacro_arg %}
            {% macro_arg %}True{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Veckobrev" %}
            {% endmacro_arg %}
            {% macro_arg %} {% url 'homepage:newsletter' %} {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Anmäl dig till datas veckobrev, med alla arrangemang och annat som händer på sektionen" %}
            {% endmacro_arg %}
            {% macro_arg %} fa-feed {% endmacro_arg %}
            {% macro_arg %}False{% endmacro_arg %}
        {% endmacro_block %}

        {% macro_block menu_item %}
            {% macro_arg %}
                {% trans "Studiesocial hjälp" %}
            {% endmacro_arg %}
            {% macro_arg %} {% url 'homepage:studiesocial-hjalp' %} {% endmacro_arg %}
            {% macro_arg %}
                {% trans "Om du känner att studierna går tufft,
                    du känner dig nere, känner dig kränkt eller diskriminerad,
                    eller känner dig osäker finns epost och telefonnummer att ringa här" %}
            {% endmacro_arg %}
            {% macro_arg %}
                fa-question-circle
            {% endmacro_arg %}
            {% macro_arg %}True{% endmacro_arg %}
       {% endmacro_block %}
    </ul>
</div>
