{% load macros %}

{% comment %}
    Define a macro for each menu item, since the markup is a bit messy
    and we don't want to copy-paste it every time
{% endcomment %}

{% macro menu_item title href description icon cap %}
    <li>
        <a data-tooltip data-options="disable_for_touch:true"
        title="{{ description }}"
        href="{{ href }}"
        target="_blank"
        class="has-tip tip-top">
                {% if cap %}
                    <div class="quick-button-chalmers"><i class="fa fa-graduation-cap"></i></div>
                {% endif %}
                <i class="fa {{ icon }}"></i>
                {{ title }}
        </a>
    </li>
{% endmacro %}

{% comment %}
    Here we use the macro to instantiate all the menu items.
{% endcomment %}

<div class="quick-buttons large-8 columns">
    <ul class="box list text-center">

        {% use_macro menu_item
            "Wikin"
            "https://dtek.se/wiki"
            "DTEK-wikin, där allt kul händer!"
            "fa-book"
            False
        %}

        {% use_macro menu_item
            "Twitter"
            "https://twitter.com/datachalmers"
            "Twitter!"
            "fa-twitter"
            False
        %}

        {% use_macro menu_item
            "Reddit"
            "https://www.reddit.com/r/dtek/"
            "Schysst subreddit med stor potential"
            "fa-reddit"
            False
        %}

        {% use_macro menu_item
            "Dbrus"
            "https://dbrus.dtek.se"
            "Datas alldeles egen podcast"
            "fa-podcast"
            False
        %}

        {% use_macro menu_item
            "Databussen"
            "https://dtek.se/wiki/Main/Databussen"
            "Mer info om Databussen"
            "fa-car"
            False
        %}

        {% use_macro menu_item
            "Schema"
            "https://se.timeedit.net/web/chalmers/db1/public/ri1Q7.html"
            "TimeEdit"
            "fa-table"
            True
        %}

        {% use_macro menu_item
            "Grupprum"
            "https://se.timeedit.net/web/chalmers/db1/b1/"
            "Boka grupprum på Chalmers"
            "fa-users"
            True
        %}

        {% use_macro menu_item
            "Kårkort"
            "https://kårkort.se"
            "Genväg för att ladda ditt kårkort"
            "fa-credit-card"
            True
        %}

        {% use_macro menu_item
            "Cremona"
            "https://www.cremona.se"
            "Cremona bokhandel, numera kallat Store"
            "fa-shopping-cart"
            True
        %}

        {% use_macro menu_item
            "PingPong"
            "https://pingpong.chalmers.se"
            "PingPong"
            "fa-floppy-o"
            True
        %}

        {% use_macro menu_item
            "Karta"
            "https://maps.chalmers.se/#6967eb7c-ff54-4dd7-af00-9e19fcaba128"
            "Karta över Campus"
            "fa-map"
            True
        %}

        {% macro_block menu_item %}
            {% macro_arg %} Veckobrev {% endmacro_arg %}
            {% macro_arg %} {% url 'homepage:newsletter' %} {% endmacro_arg %}
            {% macro_arg %}
                Anmäl dig till datas veckobrev, med alla arrangemang och annat som händer på sektionen
            {% endmacro_arg %}
            {% macro_arg %} fa-feed {% endmacro_arg %}
            {% macro_arg %} False {% endmacro_arg %}
        {% endmacro_block %}

        {% use_macro menu_item
            "IRC"
            "https://dtek.se/wiki/Main/IRC"
            "Slack, fast utan GUI. För äkta Datateknologer!"
            "fa-hashtag"
            False
        %}

        {% macro_block menu_item %}
            {% macro_arg %} Studiesocial hjälp {% endmacro_arg %}
            {% macro_arg %} {% url 'homepage:studiesocial-hjalp' %} {% endmacro_arg %}
            {% macro_arg %}
                Om du känner att studierna går tufft,
                du känner dig nere, känner dig kränkt eller diskriminerad,
                eller känner dig osäker finns epost och telefonnummer att ringa här
            {% endmacro_arg %}
            {% macro_arg %} fa-question-circle {% endmacro_arg %}
            {% macro_arg %} True {% endmacro_arg %}
       {% endmacro_block %}
    </ul>
</div>
