<!-- DTEK Kontaktuppgifter -->
<section class="large-4 columns">
    <div class="footer-contact">
        <div class="row">
            <div class="column small-6 large-8 text-right">
                <dt>Kontakt</dt>
            </div>
            <div class="column small-6 large-4">
                <dd><a href="mailto:styret@dtek.se">styret@dtek.se</a></dd>
            </div>
        </div>
        <div class="row">
            <div class="column small-6 large-8 text-right">
                <dt>Postadress</dt>
            </div>
            <div class="column small-6 large-4">
                <dd itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="name">Datateknologsektionen</span><br />
                <span itemprop="streetAddress">Rännvägen 8</span><br />
                <span itemprop="postalCode">412 58</span>
                <span itemprop="addressLocality">Göteborg</span>
                </dd>
            </div>
        </div>

        <div class="row">
            <div class="column small-6 large-8 text-right">
                <dt>Organisations&shy;nummer</dt>
            </div>
            <div class="column small-6 large-4">
                <dd>857209-7080</dd>
            </div>
        </div>
    </div>
</section>
