<div class="footer-foot">
    <div class="wrapper">
        <p>
        <small>
            <span>Utvecklad av <a href="https://digit.chalmers.it" title="digIT"> digIT</a>, stulen av <a href="mailto:viktor@dtek.se">viktor</a></span> <span class="footer-foot-divider">|</span>  <a href="humans.txt">mer info</a>
            <span class="footer-foot-divider">|</span> <a href="LICENSE.txt">licens</a>
            <span class="footer-foot-divider">|</span> <span>de flesta foton tillhör <a href="https://dfoto.se">DFoto</a></span>
        </small>
        </p>
    </div>
</div>
