{% load static %}
{% load i18n %}

<div class="footer-foot">
    <div class="wrapper">
        <p>
        <small>
            <span>{% trans "Utvecklad av " %}<a href="https://digit.chalmers.it" title="digIT"> digIT</a>, {% trans "stulen av" %} <a href="mailto:viktor@dtek.se">viktor</a>, {% trans "översatt av" %} <a href="mailto:kiren@dtek.se">kiren</a></span>, {% trans "omskriven av" %} <a href="https://github.com/dheurlin">bs</a> <span class="footer-foot-divider">|</span>  <a href="{% static 'humans.txt' %}">{% trans "mer info" %}</a>
            <span class="footer-foot-divider">|</span> <a href="{% static 'LICENCE.txt' %}">{% trans "licens" %}</a>
            <span class="footer-foot-divider">|</span> <span>{% trans "de flesta foton tillhör" %} <a href="https://dfoto.se">DFoto</a></span>
        </small>
        </p>
    </div>
</div>
