<!-- Föreningar och kommittéer -->
<section class="large-4 columns">
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Styrelse</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/Styret">D-Styret</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Studienämnd</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://dns.dtek.se/">DNS</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Sexmästeri</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/D6">D6</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>PR-kommitté</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/Delta">Delta</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Rustmästeri</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//drust.dtek.se">DRUST</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Mottagnings&shy;kommitté</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dnollk.se">DNollK</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Arbetsmarknads&shy;grupp</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//datateknologer.se">DAG</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>DATA-driftsförening</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/DHack">dHack</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Fanbärare</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/Ståthållarämbetet">Ståthållarämbetet</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Idrotts&shy;förening</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/IDrott">iDrott</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Spelförening</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/DLude">DLude</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Fotokommitté</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dfoto.se">D-Foto</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Bilkommitté</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/DBus">DBus</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Sektions&shy;tidning</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/D-lirium/D-lirium">D-lirium</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>Master Reception Committee</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dtek.se/wiki/Main/DMNollK">DMNollK</a></dd>
        </div>
    </div>
</section>
