{% load static %}
{% load i18n %}

<!-- Föreningar och kommittéer -->
<section class="large-4 columns">
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Styrelse" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/Styret">D-Styret</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Studienämnd" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="#">DNS</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Sexmästeri" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/D6">D6</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "PR-kommitté" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/Delta">Delta</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Rustmästeri" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//drust.se">DRUST</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Mottagningskommitté" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dnollk.se">DNollK</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Arbetsmarknadsgrupp" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//datateknologer.se">DAG</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "DATA-driftsförening" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/DHack">dHack</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Fanbärare" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/Ståthållarämbetet">Ståthållarämbetet</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Idrottsförening" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/IDrott">iDrott</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Spelförening" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/DLude">DLude</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Fotokommitté" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="//dfoto.se">D-Foto</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Bilkommitté" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://dbus.dtek.se">DBus</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Sektionstidning" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://dtek.se/wiki/D-lirium">D-lirium</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Sektionens podcast" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://dbrus.dtek.se">DBrus</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Master Reception Committee" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/DMNollK">DMNollK</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Cooking Committee" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/DKock">DKock</a></dd>
        </div>
    </div>
    <div class="row">
        <div class="column small-6 large-8 text-right">
            <dt>{% trans "Equality Committee" %}</dt>
        </div>
        <div class="column small-6 large-4">
            <dd><a href="https://wiki.dtek.se/wiki/J%C3%A4mst%C3%A4llD">JämställD</a></dd>
        </div>
    </div>
</section>
