{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<section class="large-4 columns"
         {% if LANGUAGE_CODE == "en" %}
            style="font-size: 88%;"
         {% endif %}
>
    <a class="block footer-home-link" href="index.html">
        <hgroup itemprop="description">
        <h1>{% trans "Datateknologsektionen" context "full title"%}</h1>
        <h2>{% trans "Chalmers Tekniska Högskola" %}</h2>
        </hgroup>
    </a>
    <a class="block footer-home-link" href="https://chs.chalmers.se" target="_blank">
        <hgroup itemprop="description">
            <h4>{% trans "en del av Chalmers Studentkår" %}</h4>
        </hgroup>
    </a>
    <nav>
    </nav>
</section>
