version: '3.7'

services:
    db:
        restart: always
        image: postgres:18
        environment:
            POSTGRES_DB: "dtekportal"
            POSTGRES_PASSWORD: "$DB_PASSWORD"
        volumes:
            # Makes database data persist even if we restart/rebuild container
            - db_data:/var/lib/postgresql/18/data
    web:
        build: .
        restart: always
        environment:
            DB_NAME: "dtekportal"
            DB_USER: "postgres"
            DB_PASSWORD: "$DB_PASSWORD"
            DB_HOST: "db"
            DB_PORT: "5432"
            DJANGO_SECRET_KEY: "$DJANGO_SECRET_KEY"
        depends_on:
            - db
        volumes:
            - ./logs:/logs
            - static:/staticfiles/
    proxy:
        image: nginx:1-alpine
        restart: unless-stopped
        ports:
            - "8080:80"
        depends_on:
            - web
        volumes:
            - static:/usr/share/nginx/html:ro
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
    db_data:
    static:
