{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% comment %}
    Overriding the default slideshow in the top-nav-banner by
    setting a custom 'class' variable to show the error image instead
{% endcomment %}
{% block banner %}

    <style>
        #banner-pix.error {
            background-image: url('{% static "images/hacke_dizzy.gif" %}');
        }
    </style>

    {% include "top-nav-banner.html" with class="error" %}

{% endblock banner %}


{% comment %}
    This page includes the optional header
{% endcomment %}
{% block header %}
    {% include 'header/header.html' %}
{% endblock header %}


{% block content %}
    <div class="large-5 columns" style="float: none; margin: auto;">
        <div class="box" style="padding: 3em;">
            <header>
                <h2>{% trans "Den gubben gick inte!" %}</h2>
            </header>
            <p>{% trans "Det här är en typisk 404-sida." %}</p>
            <p>{% trans 'Om du tror det beror på ett tekniskt fel, vänligen kontakta <a hrek="mailto:dHack <dhack@dtek.se>">dHack</a> med URL-en och förklara vad du förväntade dig att hitta där.' %}</p>
        </div>
    </div>
{% endblock content %}
