{% load static %}
{% load i18n %}

<header role="banner" id="banner">
    <div id="banner-pix"
         {% if class %}
            class="{{ class }}"
        {% endif %}
    > </div>
    <div class="top-bar">
        <div class="inner-bar" id="site-menu">
            <div class="wrapper group">
                <h1>
                    <a class="logo" href="{% url 'homepage:index' %}">
                        <span class="logo-text">{% trans "Datateknologsektionen" %}<br />
                            <small>{% trans "Chalmers Studentkår" %}</small></span>
                    </a>
                </h1>
                <nav role="navigation" class="main-nav">
                    <ul id="menu-huvudnavigation">
                        <li class="menu-item"><a href="https://dnollk.se/">{% trans "Mottagning" %}</a></li>
                        <li class="menu-item"><a href="https://dns.dtek.se/">{% trans "Studier" %}</a></li>
                        <li class="menu-item"><a href="https://dfoto.se/">{% trans "Foton" %}</a></li>
                        <li class="menu-item"><a href="https://datateknologer.se/">{% trans "Jobb" %}</a></li>
                        <li class="menu-item"><a href="https://datateknologer.se/foretag/event-och-tjanster/">{% trans "Företag" %}</a></li>

                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == "sv" %}
                                <input type="hidden" name="language" value="en">
                                <input class="btn-flag english" type="submit" value="English">
                            {% else %}
                                <input type="hidden" name="language" value="sv">
                                <input class="btn-flag swedish" type="submit" value="Swedish">
                            {% endif %}
                        </form>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
