{% load i18n %}

<div class="box">
    <header>
        <h2>{% trans "Aspningskalender" %}</h2>
    </header>
    <iframe src="https://calendar.google.com/calendar/embed?title=%20&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=c_8d5728c983985e4978f7620143918ab9dd52d76c9abb75705ae2e3d223e3c0ec@group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FStockholm" style="border-width:0; width: 100%; height: 20em" height="300" frameborder="0" scrolling="no"></iframe>
    <P><a href="https://calendar.google.com/calendar/u/0/embed?src=c_8d5728c983985e4978f7620143918ab9dd52d76c9abb75705ae2e3d223e3c0ec@group.calendar.google.com&ctz=Europe/Berlin">Add this calendar (public iCal link)</a><p>

</div>
