{% load i18n %}

<div class="box">
    <header>
        <h2>{% trans "Arrangemangskalender" %}</h2>
    </header>
    <iframe src="https://calendar.google.com/calendar/embed?title=%20&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=dtek.se_0tavt7qtqphv86l4stb0aj3j88%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FStockholm" style="border-width:0; width: 100%; height: 20em" height="300" frameborder="0" scrolling="no"></iframe>
    <P><a href="https://calendar.google.com/calendar/ical/dtek.se_0tavt7qtqphv86l4stb0aj3j88%40group.calendar.google.com/public/basic.ics">Add this calendar (public iCal link)</a><p>
</div>
