<div class="box">
    <header>
        <h2>Sektionen på Facebook</h2>
    </header>
    <div class="fb-page" data-href="https://www.facebook.com/dtekchalmers/" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"  style=" display: flex; justify-content: space-around;">
        <blockquote cite="https://www.facebook.com/dtekchalmers/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dtekchalmers/">Datateknologsektionen</a></blockquote>
    </div>
</div>
