{% extends "base.html" %}

{% block header %}
    {% include 'header/header.html' %}
{% endblock header %}

{% block content %}

    <div class="large-5 columns">
        {% include 'homepage/index/fb-box.html' %}
        {% include 'homepage/index/cal-box.html' %}
    </div>

    <div class="large-4 columns">
        {% include 'homepage/index/welcome-box.html' %}
        {% include 'homepage/index/food-box.html' %}
    </div>


    <div class="large-3 columns">
        {% include 'homepage/index/tetris-box.html' %}
    </div>

{% endblock content %}
