{% load i18n %}
{% load static %}


<div class="box">
    <img src="{% static 'datalogo.svg' %}" style="height:3em;
    position: absolute;
    right: 20px;">

    <header>
        <h2>{% trans "Välkommen" %}</h2>
    </header>


    {% trans "Detta är DTEK-portalen, med ett gäng nyttiga länkar till ställen där du kan tänkas vilja gå." %}
    <br/><br/>
    <p class="vspace">{% trans 'Datateknologsektionen är en icke vinstdrivande organisation som är till för alla studenter på civilingenjörsprogrammet Datateknik på Chalmers och dess relaterade <a class="wikilink" href="https://wiki.dtek.se/wiki/Masterprogram">masterprogram</a>. Vi ordnar <a class="wikilink" href="https://wiki.dtek.se/wiki/Mottagning">mottagning</a> för nyantagna, arrangerar <a class="categorylink" href="https://wiki.dtek.se/wiki/D6">fester</a>, bedriver <a class="wikilink" href="https://dns.dtek.se/">studiebevakning</a> och <a class="wikilink" href="https://wiki.dtek.se/wiki/Main_Page">mycket mer</a>.' %} </p>
    <br/>
    {% trans 'En del av <a href="https://chalmersstudentkar.se/">Chalmers Studentkår </a>' %}
</div>
