{% load i18n %}


<div class="box">
    <img src="https://www.chalmers.se/SiteCollectionImages/Programmallar/Masterprogram/image3-datateknik_300.jpg" style="height:3em;
    position: absolute;
    right: 10px;">

    <header>
        <h2>{% trans "Välkommen" %}</h2>
    </header>


    {% trans "Detta är DTEK-portalen, med ett gäng nyttiga länkar till ställen där du kan tänkas vilja gå." %}
    <br/><br/>
    <p class="vspace">{% trans 'Datateknologsektionen är en icke vinstdrivande organisation som är till för alla studenter på civilingenjörsprogrammet Datateknik på Chalmers och dess relaterade <a class="wikilink" href="//dtek.se/wiki/Main/Masterprogram">masterprogram</a>. Vi ordnar <a class="wikilink" href="//dtek.se/wiki/Main/Mottagning">mottagning</a> för nyantagna, arrangerar <a class="categorylink" href="//dtek.se/wiki/Kategorier/Fester">fester</a>, bedriver <a class="wikilink" href="https://dns.dtek.se/">studiebevakning</a> och <a class="wikilink" href="//dtek.se/wiki/Main/Index">mycket mer</a>.' %} </p>
    <br/>
    {% trans 'En del av <a href="https://chalmersstudentkar.se/">Chalmers Studentkår </a>' %}
</div>
