{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="large-9 columns" style="float: none; margin: auto; margin-top: -5em;">
    <div class="box" style="padding: 3em;">
        <h1>{% trans "StyrdokumentPage" %}</h1>
        <a href='https://styrdokument.dtek.se/stadgar/stadgar.pdf'>{% trans "stadga" %}</a><br/>
        <a href='https://styrdokument.dtek.se/reglemente/reglemente.pdf'>{% trans "reglemente" %}</a><br/>
        <a href='https://styrdokument.dtek.se/ekonomiskt_reglemente/ekonomiskt_reglemente.pdf'>{% trans "ekonomisktreglemente" %}</a><br/>
        <a href='https://styrdokument.dtek.se/policy/Policy.pdf'>{% trans "policies" %}</a><br/>
        <a href='https://styrdokument.dtek.se/incidenthantering/incidenthantering.pdf'>{% trans "incidenthantering" %}</a><br/>
        <a href='https://styrdokument.dtek.se/date-it-styrdokument/date-it-reglemente.pdf'>{% trans "date-it" %}</a>

        <br/>
        <br/>
        <h2>{% trans "saknas" %}</h2>
        <a href='https://styrdokument.dtek.se/'>{% trans "stadgehemsidan" %}</a> {% trans "stadgetext" %}<br/>
        <a href='https://wiki.dtek.se/wiki/Styrdokument'>{% trans "wikin" %}</a> {% trans "wikitext" %}
    </div>
</div>

{% endblock content %}
